{% extends 'base.html' %}
<title>{% block title %}المنتجات{% endblock %}</title>

{%block content%}
<div class="container-fluid w-100 p-5 text-center">
    <table class="table table-striped table-dark text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">اسم المنتج</th>
            <th scope="col">الكميه </th>
            <th scope="col">المورد</th>


          </tr>
        </thead>
        <tbody>
      
          <tr>
     
            
          </tr>
       

        </tbody>
  </table>
  <button class="text-center btn btn-success" onclick="window.print()">اطبع الصفحه</button>

  </div>

</div>
</div>
{%endblock%}